---
import avabLogo from "../assets/AVAB_logotyp_pos.png";
---

<a class="skip-link" href="#main">Hoppa till innehåll</a>

<header class="site-nav">
  <div class="avab-container">
    <a class="brand" href="/" aria-label="AVAB - till startsidan">
      <img src={avabLogo.src} alt="AVAB" width="154" height="43" />
    </a>
    <nav aria-label="Huvudmeny">
      <ul class="nav-links">
        <li class="nav-dropdown">
          <button class="nav-link hover-underline nav-dropdown-trigger" type="button" aria-haspopup="true">
            Miljöer
            <span class="nav-chevron" aria-hidden="true"></span>
          </button>
          <div class="mega-menu" aria-label="Miljöer">
            <ul class="mega-categories" aria-label="Miljökategorier">
              <li class="mega-category">
                <button class="mega-category-link" type="button">
                  <span>Sport</span>
                  <span class="mega-arrow" aria-hidden="true"></span>
                </button>
                <ul class="mega-submenu" aria-label="Sportmiljöer">
                  <li><a href="/miljo/sporthall/">Sporthall & Arena</a></li>
                  <li><a href="/miljo/simhall/">Simhall</a></li>
                  <li><a href="/miljo/ishall/">Ishall</a></li>
                  <li><a href="/miljo/utomhusidrott/">Utomhusidrott</a></li>
                </ul>
              </li>
              <li class="mega-category">
                <button class="mega-category-link" type="button">
                  <span>Handel & Möten</span>
                  <span class="mega-arrow" aria-hidden="true"></span>
                </button>
                <ul class="mega-submenu" aria-label="Handel och möten">
                  <li><a href="/miljo/kontor-konferens/">Kontor & Konferens</a></li>
                  <li><a href="/miljo/hotell/">Hotell</a></li>
                  <li><a href="/miljo/restaurang-bar-klubb/">Restaurang & Bar</a></li>
                  <li><a href="/miljo/butik-retail/">Butik & Retail</a></li>
                  <li><a href="/miljo/kopcentrum-galleria/">Köpcentrum & Galleria</a></li>
                </ul>
              </li>
              <li class="mega-category">
                <button class="mega-category-link" type="button">
                  <span>Utbildning & Vård</span>
                  <span class="mega-arrow" aria-hidden="true"></span>
                </button>
                <ul class="mega-submenu" aria-label="Utbildning och vård">
                  <li><a href="/miljo/skola/">Skola</a></li>
                  <li><a href="/miljo/vard/">Vård & Sjukhus</a></li>
                </ul>
              </li>
              <li class="mega-category">
                <button class="mega-category-link" type="button">
                  <span>Övriga Miljöer</span>
                  <span class="mega-arrow" aria-hidden="true"></span>
                </button>
                <ul class="mega-submenu" aria-label="Övriga miljöer">
                  <li><a href="/miljo/industri/">Industri</a></li>
                  <li><a href="/miljo/kyrka/">Kyrka</a></li>
                  <li><a href="/miljo/parkering-garage/">Parkering & Garage</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-dropdown nav-dropdown--services">
          <button class="nav-link hover-underline nav-dropdown-trigger" type="button" aria-haspopup="true">
            Tjänster
            <span class="nav-chevron" aria-hidden="true"></span>
          </button>
          <div class="service-menu" aria-label="Tjänster">
            <ul class="service-menu-list">
              <li><a href="/tjanster/ljudsystem/">Ljudsystem</a></li>
              <li><a href="/tjanster/mikrofoner/">Mikrofoner</a></li>
              <li><a href="/rastsignal/">Rastsignal</a></li>
              <li><a href="/tjanster/horslinga/">Hörslinga</a></li>
              <li><a href="/tjanster/kameraovervakning/">Kameraövervakning</a></li>
              <li><a href="/tjanster/taluppfattbarhet/">Taluppfattbarhet</a></li>
              <li><a href="/tjanster/talat-utrymningslarm/">Talat utrymningslarm</a></li>
              <li><a href="/tjanster/styrsystem-integration/">Styrsystem & integration</a></li>
              <li><a href="/tjanster/bakgrundsmusik/">Bakgrundsmusik</a></li>
            </ul>
          </div>
        </li>
        <li><a class="nav-link hover-underline" href="/tjanster/projektering/">Projektering</a></li>
      </ul>
    </nav>
    <div class="nav-cta">
      <a class="nav-phone" href="tel:+46548202080"><span>☎</span> 054-820 20 80</a>
      <a class="nav-button" href="/kontakt/">Kontakta oss</a>
    </div>
  </div>
</header>
